<?xml version="1.0"?>
<!-- Copyright (C)2014-2014 Marcel Trapman. -->
<Events>
    <!--Event id="receive">
        <Name>Receive Value</Name>
		<ConfigUI>
			<Field id="boardid" type="menu">
				<Label>Board:</Label>
				<List class="indigo.devices" filter="self.gateway"/>
			</Field>
            <Field id="valuelabel" type="label">
                <Label>Preferred value is an integer due to limited memory!</Label>
            </Field>
            <Field id="value" type="textfield">
                <Label>Value:</Label>
            </Field>
            <Field id="valuestateseparator" type="separator"/>
            <Field id="valueStatelabel" type="label">
                <Label>Set the state (description) for the value.</Label>
            </Field>
            <Field id="valuestate" type="textfield">
                <Label>State:</Label>
            </Field>
		</ConfigUI>
    </Event-->
</Events>
